body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9eef3;
}


header {
  background-color: #f9eef3;
  text-align: center;
  padding: 20px;
}

header h1 {
 font-size: 120px;
  color: #7a2e6e;
  margin-bottom: 5px;
  font-weight: 800;
  letter-spacing: 8px;

  text-shadow:
    0 0 5px rgba(122, 46, 110, 0.4),
    0 0 15px rgba(122, 46, 110, 0.3),
    0 0 30px rgba(122, 46, 110, 0.2);
}

header p {
  color: #555;
}


section {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

h2 {
  color: #7a2e6e;
}


#locations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.location-card {
  background: #fafafa;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.status {
  font-weight: bold;
  margin: 10px 0;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}


button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #7a2e6e;
  color: white;
}

button:hover {
  background-color: #5c2052;
}


.section-title {
  margin-top: 20px;
  color: #7a2e6e;
}

.awareness-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
}

.awareness-box {
  background: #fafafa;
  width: 220px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
  text-align: left;
}

.awareness-box h4 {
  color: #7a2e6e;
}


.hidden-content {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 6px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #eee;
  margin-top: 30px;
}

.restock-btn {
    background-color: #ff4d6d; /* same pink theme */
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.restock-btn:hover {
    background-color: #e6395c;
}